#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn{
  height: 50px;
  width: 250px;
  background-color:white;
  color: red;
  font-size: larger;
  padding: 10px;
  margin: 50px;
}

.signupform, .loginpage, .addtocard{
  background-color: black;
  margin:50px;
  padding: 50px;
}

div .signupform div label input{
  margin: 50px;
  padding: 50px;
}

